.homeContainer {
    background-color: #545454;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-right: 0px;
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}